input[type=date].formated-date {
    position: relative;
    width: 150px; height: 22px;
    color: white;
}
input[type=month].formated-date {
    position: relative;
    width: 150px; height: 22px;
    color: black;
}

.formated-date {
  position: relative;
  color:transparent!important;
}

.formated-date:before {
  position: absolute;
  top: 3px;
  left: 3px;
  content: attr(data-date);
  display: inline-block;
  color:#333333;
}

.formated-date::-webkit-datetime-edit, .formated-date::-webkit-inner-spin-button, .formated-date::-webkit-clear-button {
  display: none;
}

.formated-date::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 1px;
    right: 0;
    color: black;
    opacity: 1;
}

